.container {
  background-image: url('../../../img/mapaLupa.jpg');
  height: 100%;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.detail {
    width: auto;
    margin: 20px;
    border-radius: 25px;
    background-color: #ebf0ef69;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 40px #000000;
    text-align: center;
    padding: 20px;
    display: inline-block;
}
  
.detail img {
    width: 300px;
    height: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #888888;
  }
  
  .detail h3 {
    color: rgb(24, 23, 23);
    margin: 20px 0px 0px 0px;
    font-size: 32px;
  }
  .detail h4 {
    color: rgb(24, 23, 23);
    margin: 20px 0px 20px 0px;
    font-size: 20px;
  }