.pageContainer {
  background-image: url('../../../img/girlTravel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.createContainer {
  
  width: auto;
  margin: 100px;
  border-radius: 25px;
  background-color: #f2f8dc48;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 10px #00000057;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.createContainer p {
  margin: 0px 5px 20px 5px;
  color: red;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2px;
}

.durationField{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 150px;
  height: 10px;
}

.selectField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default
}

