.paginado {
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 10px 10px #000000f3;
  }
  
  .paginado button {
    margin: 10px 2px 0px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffffa4;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .paginado button:hover {
    background-color: #e0e0e0;
  }
  
  .paginado button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .paginado .active {
    background-color: #2196f3;
    color: #ffffff;
  }